<div class="container">
    <div class="row">
        <div class="col">
            <nb-card>
                <nb-card-header>
                    <a [routerLink]="['orchid']">Orchids <span><i>({{this.orcCounter}})</i></span></a>
                </nb-card-header>
                <nb-card-body>
                    <img width="300" height="230"
                        src="https://firebasestorage.googleapis.com/v0/b/hoalanmanager.appspot.com/o/hoalan%2FCryptochilus_lutea.jpg?alt=media&token=6bc5634d-9740-439a-a2a4-19864bf5f70b">
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col">
            <nb-card>
                <nb-card-header>
                    <a [routerLink]="['feed']">Feeds <span><i>({{this.feedCounter}})</i></span></a>
                </nb-card-header>
                <nb-card-body>
                    <img width="300" height="230"
                        src="https://firebasestorage.googleapis.com/v0/b/hoalanmanager.appspot.com/o/hoalan%2F20140322_153245.jpg?alt=media&token=71482693-12fc-4c85-b9b4-067265d24e3f">
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>